Repository Studiofarma/Infolab, pull requests merged in 2023-08, with the labels that each got.

#295 Be/edit delete websocket
  src/frontend/enums/message-statuses.js
  src/frontend/enums/websocket-message-types.js
  src/frontend/models/message-dto.js
  src/frontend/models/websocket-message-dto.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/message-content.js
  src/frontend/pages/chat/message/message.js
  src/frontend/services/messages-service.js
  src/main/java/com/cgm/infolab/controller/ChatController.java
  src/main/java/com/cgm/infolab/db/repository/ChatMessageRepository.java
  src/main/java/com/cgm/infolab/db/repository/DownloadDateRepository.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/UserQueryResult.java
  src/main/java/com/cgm/infolab/model/ChatMessageDto.java
  src/main/java/com/cgm/infolab/model/WebSocketMessageDto.java
  src/main/java/com/cgm/infolab/model/WebSocketMessageTypeEnum.java
  src/main/java/com/cgm/infolab/service/ChatService.java
  src/test/java/com/cgm/infolab/InfolabApplicationTests.java
  src/test/java/com/cgm/infolab/MessageDeletionApiTests.java
  src/test/java/com/cgm/infolab/MessageDeletionTests.java
  src/test/java/com/cgm/infolab/MessageEditApiTests.java
  src/test/java/com/cgm/infolab/MessageEditTests.java
  src/test/java/com/cgm/infolab/MessagesPaginatedApiTests.java
  src/test/java/com/cgm/infolab/WebSocketDeleteEditPrivateTests.java
  src/test/java/com/cgm/infolab/WebSocketDeleteEditPublicTests.java
  src/test/java/com/cgm/infolab/helper/TestDbHelper.java
  src/test/java/com/cgm/infolab/helper/TestStompHelper.java
Labels: backend

#313 Be/username roomname fk
  src/main/java/com/cgm/infolab/db/model/DownloadDateEntity.java
  src/main/java/com/cgm/infolab/db/model/RoomSubscriptionEntity.java
  src/main/java/com/cgm/infolab/db/repository/ChatMessageRepository.java
  src/main/java/com/cgm/infolab/db/repository/DownloadDateRepository.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/db/repository/RoomSubscriptionRepository.java
  src/main/java/com/cgm/infolab/db/repository/RowMappers.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/UserQueryResult.java
  src/main/java/com/cgm/infolab/model/WebSocketMessageDto.java
  src/main/java/com/cgm/infolab/service/RoomService.java
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/com/cgm/infolab/LastDownloadDateUpdateTests.java
  src/test/java/com/cgm/infolab/LastDownloadedDatesForRoomsTests.java
  src/test/java/com/cgm/infolab/MessagesPaginatedApiTests.java
  src/test/java/com/cgm/infolab/QueryHelperTests.java
  src/test/java/com/cgm/infolab/RoomAndMessagesVisibilityTests.java
  src/test/java/com/cgm/infolab/WebSocketDeleteEditPrivateTests.java
  src/test/java/com/cgm/infolab/WebSocketDeleteEditPublicTests.java
  src/test/java/com/cgm/infolab/helper/TestDbHelper.java
Labels: backend

#316 Be/conv search
  src/main/java/com/cgm/infolab/controller/api/RoomApiController.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/service/RoomService.java
  src/test/java/com/cgm/infolab/RoomPaginatedApiTests.java
  src/test/java/com/cgm/infolab/RoomSearchPaginatedApiTests.java
Labels: backend

#318 Fixed bug of search bar and button scrolling in forward list
  src/frontend/pages/chat/chat.js
Labels: bug, frontend

#317 Fixed bug new conversations not going to conversations
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: bug, frontend

#319 Infinite scroll messages
  src/frontend/components/circular-progress-bar.js
  src/frontend/components/infinite-scroll.js
  src/frontend/enums/theme-css-variables.js
  src/frontend/enums/themes/darkTheme.js
  src/frontend/enums/themes/lightTheme.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/services/messages-service.js
  src/main/java/com/cgm/infolab/service/ChatService.java
  src/test/java/com/cgm/infolab/MessagesPaginatedApiTests.java
Labels: frontend

#321 Fe/infinite scroll conv
  src/frontend/components/infinite-scroll.js
  src/frontend/components/input-search.js
  src/frontend/cypress/e2e/chat-list-tests/search-chats.cy.js
  src/frontend/models/conversation-dto.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/services/conversations-service.js
  src/main/java/com/cgm/infolab/controller/FromEntitiesToDtosMapper.java
  src/main/java/com/cgm/infolab/controller/api/RoomApiController.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/db/repository/RowMappers.java
  src/main/java/com/cgm/infolab/model/LastMessageDto.java
  src/main/java/com/cgm/infolab/model/RoomDto.java
  src/main/java/com/cgm/infolab/service/RoomService.java
  src/test/java/com/cgm/infolab/LastDownloadedDatesForRoomsTests.java
  src/test/java/com/cgm/infolab/RoomAndMessagesVisibilityTests.java
  src/test/java/com/cgm/infolab/RoomPaginatedApiTests.java
  src/test/java/com/cgm/infolab/RoomRepositoryTests.java
  src/test/java/com/cgm/infolab/RoomSearchPaginatedApiTests.java
Labels: frontend

#300 Cambio logica per chat private / di gruppo
  src/frontend/cypress/e2e/chat-list-tests/open-chat.cy.js
  src/frontend/cypress/e2e/editor.cy.js
  src/frontend/cypress/e2e/header.cy.js
  src/frontend/cypress/e2e/messages.cy.js
  src/frontend/cypress/support/commands.js
  src/frontend/models/conversation-dto.js
  src/frontend/models/cookie-dto.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/message-content.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/services/cookie-service.js
Labels: frontend

#326 Fixed bug
  src/frontend/components/infinite-scroll.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: bug, frontend

#331 Fe/messages from last read
  src/frontend/components/infinite-scroll.js
  src/frontend/cypress/e2e/messages.cy.js
  src/frontend/cypress/support/commands.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/services/conversations-service.js
  src/frontend/services/messages-service.js
  src/main/java/com/cgm/infolab/controller/FromEntitiesToDtosMapper.java
  src/main/java/com/cgm/infolab/controller/api/ApiHelper.java
  src/main/java/com/cgm/infolab/controller/api/ChatApiMessagesController.java
  src/main/java/com/cgm/infolab/controller/api/RoomApiController.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/service/RoomService.java
  src/test/java/com/cgm/infolab/LastDownloadedDatesForRoomsTests.java
  src/test/java/com/cgm/infolab/MessagesPaginatedApiTests.java
  src/test/java/com/cgm/infolab/RoomPaginatedApiTests.java
Labels: backend, frontend

#333 Be/cursor with millisec
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/messages-list.js
  src/main/java/com/cgm/infolab/controller/api/RoomApiController.java
  src/main/java/com/cgm/infolab/helper/DateTimeHelper.java
  src/main/java/com/cgm/infolab/model/ChatMessageDto.java
  src/main/java/com/cgm/infolab/model/LastMessageDto.java
  src/main/java/com/cgm/infolab/model/RoomDto.java
  src/test/java/com/cgm/infolab/MessagesPaginatedApiTests.java
  src/test/java/com/cgm/infolab/RoomPaginatedApiTests.java
  src/test/java/com/cgm/infolab/RoomSearchPaginatedApiTests.java
Labels: bug, backend, frontend

#338 Fe/messages edit
  src/frontend/models/conversation-dto.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/main/java/com/cgm/infolab/controller/FromEntitiesToDtosMapper.java
  src/main/java/com/cgm/infolab/model/LastMessageDto.java
Labels: frontend

#339 Fe/messages delete
  src/frontend/enums/generic-constants.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
Labels: frontend

#340 Fe/input bar save
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/input/input-controls.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: frontend

#344 Fe/unread messages bug
  src/frontend/components/infinite-scroll.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/services/commands-service.js
  src/frontend/services/http-service.js
  src/main/java/com/cgm/infolab/controller/api/ChatApiMessagesController.java
  src/main/java/com/cgm/infolab/controller/api/CommandsApiController.java
  src/main/java/com/cgm/infolab/model/IdDto.java
  src/main/java/com/cgm/infolab/service/ChatService.java
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/com/cgm/infolab/LastReadDateApiTests.java
Labels: backend, frontend

#345 Fe/fix general names
  src/frontend/pages/chat/chat.js
Labels: bug, frontend

#346 Be/users api
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/services/users-service.js
  src/main/java/com/cgm/infolab/controller/api/UserApiController.java
  src/main/java/com/cgm/infolab/db/repository/UserRepository.java
  src/main/java/com/cgm/infolab/service/UserService.java
  src/test/java/com/cgm/infolab/MessagesPaginatedApiTests.java
  src/test/java/com/cgm/infolab/UserApiTests.java
  src/test/java/com/cgm/infolab/UserPaginatedApiTests.java
  src/test/java/com/cgm/infolab/helper/TestDbHelper.java
Labels: backend, frontend

#348 Fe/fix formatting buttons
  src/frontend/components/tooltip.js
  src/frontend/cypress/e2e/editor.cy.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/input/editor/editor-formatting-buttons.js
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/input/input-controls.js
  src/frontend/pages/chat/input/insertion-bar.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: bug, frontend

#349 Be/db user status
  src/frontend/components/avatar.js
  src/frontend/enums/websocket-message-types.js
  src/frontend/models/websocket-message-dto.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/header/chat-header.js
  src/frontend/services/users-service.js
  src/main/java/com/cgm/infolab/RunAfterStartup.java
  src/main/java/com/cgm/infolab/controller/ChatController.java
  src/main/java/com/cgm/infolab/controller/FromEntitiesToDtosMapper.java
  src/main/java/com/cgm/infolab/db/model/ChatMessageEntity.java
  src/main/java/com/cgm/infolab/db/model/UserEntity.java
  src/main/java/com/cgm/infolab/db/model/enumeration/MessageStatusEnum.java
  src/main/java/com/cgm/infolab/db/model/enumeration/UserStatusEnum.java
  src/main/java/com/cgm/infolab/db/repository/ChatMessageRepository.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/db/repository/RowMappers.java
  src/main/java/com/cgm/infolab/db/repository/UserRepository.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/QueryHelper.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/QueryResult.java
  src/main/java/com/cgm/infolab/model/UserDto.java
  src/main/java/com/cgm/infolab/model/WebSocketMessageDto.java
  src/main/java/com/cgm/infolab/model/WebSocketMessageTypeEnum.java
  src/main/java/com/cgm/infolab/service/UserService.java
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/com/cgm/infolab/InfolabApplicationTests.java
  src/test/java/com/cgm/infolab/MessageDeletionApiTests.java
  src/test/java/com/cgm/infolab/MessageDeletionTests.java
  src/test/java/com/cgm/infolab/MessageEditApiTests.java
  src/test/java/com/cgm/infolab/MessageEditTests.java
  src/test/java/com/cgm/infolab/UserApiTests.java
  src/test/java/com/cgm/infolab/UserRepositoryTests.java
  src/test/java/com/cgm/infolab/WebSocketDeleteEditPrivateTests.java
  src/test/java/com/cgm/infolab/WebSocketDeleteEditPublicTests.java
  src/test/java/com/cgm/infolab/WebsocketUserTest.java
  src/test/java/com/cgm/infolab/helper/TestDbHelper.java
Labels: backend, frontend

#350 Fe/update user status
  src/frontend/cypress/e2e/header.cy.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/services/users-service.js
  src/main/java/com/cgm/infolab/controller/ChatController.java
Labels: frontend

#351 Fe/logged avatar description change
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/header/chat-header.js
  src/frontend/pages/chat/header/profile-settings.js
  src/frontend/services/users-service.js
Labels: frontend

#352 Be/api user profile
  src/frontend/pages/chat/header/profile-settings.js
  src/frontend/services/commands-service.js
  src/frontend/services/users-service.js
  src/main/java/com/cgm/infolab/controller/api/ApiHelper.java
  src/main/java/com/cgm/infolab/controller/api/CommandsApiController.java
  src/main/java/com/cgm/infolab/db/repository/UserRepository.java
  src/main/java/com/cgm/infolab/service/UserService.java
  src/test/java/com/cgm/infolab/UserRepositoryTests.java
Labels: backend, frontend
