Repository Studiofarma/Infolab, pull requests merged in 2023-07, with the labels that each got.

#221 Changed color for icons and text in message menu
  src/frontend/pages/chat/message/message-button-option.js
  src/frontend/pages/chat/message/message-menu-popover.js
Labels: frontend

#218 inoltro di un messaggio a più chat
  src/frontend/components/avatar.js
  src/frontend/components/button-text.js
  src/frontend/components/modal.js
  src/frontend/cypress/e2e/chat-list-tests/open-chat.cy.js
  src/frontend/cypress/e2e/chat-list-tests/search-chats.cy.js
  src/frontend/enums/icon-names.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
Labels: frontend

#229 fix esc su lista inoltro
  src/frontend/components/modal.js
Labels: bug, frontend

#230 fix scroll button visibility
  src/frontend/pages/chat/chat.js
Labels: bug, frontend

#231 visualizza description invece che nome tecnico del sender dei messaggi
  src/frontend/pages/chat/message/message-content.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
Labels: bug, frontend

#234 Fe/fix scroll chat
  src/frontend/components/forward-list.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/message-options.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: bug, frontend

#232 Tooltip
  src/frontend/components/button-icon.js
  src/frontend/components/input-search.js
  src/frontend/components/tooltip.js
  src/frontend/enums/tooltip-texts.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/input/editor/editor-formatting-buttons.js
  src/frontend/pages/chat/input/insertion-bar.js
  src/frontend/pages/chat/message/message-menu-popover.js
  src/frontend/pages/chat/message/message.js
Labels: frontend

#236 Snackbar messaggio copiato
  src/frontend/components/snackbar.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/message-menu-popover.js
  src/frontend/pages/chat/message/message-options.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/messages-list.js
  src/frontend/pages/login/login.js
Labels: frontend

#238 Fe/tooltip
  src/frontend/cypress/e2e/chat-list-tests/search-chats.cy.js
  src/frontend/cypress/e2e/editor.cy.js
  src/frontend/pages/chat/input/insertion-bar.js
Labels: bug, frontend

#240 Fe/fix conversation user desc
  src/frontend/pages/chat/sidebar/conversation/conversation.js
Labels: bug, frontend

#241 No results
  src/frontend/cypress/e2e/chat-list-tests/search-chats.cy.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: frontend

#246 Message edit
  src/frontend/enums/icon-names.js
  src/frontend/enums/tooltip-texts.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/input/input-controls.js
  src/frontend/pages/chat/input/insertion-bar.js
  src/frontend/pages/chat/message/message-content.js
  src/frontend/pages/chat/message/message-menu-popover.js
  src/frontend/pages/chat/message/message-options.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/message/messages-list.js
Labels: frontend

#248 fixato bug popup
  src/frontend/pages/chat/message/message.js
Labels: bug, frontend

#247 Fe/sistemazione elimina
  src/frontend/components/button-text.js
  src/frontend/components/dialog.js
  src/frontend/components/modal.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/input/input-controls.js
  src/frontend/pages/chat/message/message-content.js
  src/frontend/pages/chat/message/message-menu-popover.js
  src/frontend/pages/chat/message/message-options.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/message/messages-list.js
Labels: frontend

#244 Fatti test per messaggi
  src/frontend/cypress/e2e/messages.cy.js
  src/frontend/cypress/support/commands.js
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/message/message-content.js
  src/frontend/pages/chat/message/message-options.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/styles/main.css
Labels: frontend

#252 Fixed bug where a message was forwarded multiple times
  src/frontend/pages/chat/chat.js
Labels: bug, frontend

#249 Fe/user status
  src/frontend/components/avatar.js
  src/frontend/enums/icon-names.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/header/chat-header.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/services/users-service.js
Labels: frontend

#254 Fixed scrivi in privato showing in private chats bug
  src/frontend/pages/chat/message/message-options.js
Labels: bug, frontend

#253 Editor live
  src/frontend/cypress/e2e/editor.cy.js
  src/frontend/cypress/support/commands.js
  src/frontend/enums/icon-names.js
  src/frontend/enums/tooltip-texts.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/input/editor/editor-formatting-buttons.js
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/input/input-controls.js
  src/frontend/pages/chat/input/insertion-bar.js
  src/frontend/pages/chat/message/message-content.js
  src/frontend/pages/chat/message/message-options.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/services/html-parser-service.js
  src/frontend/services/markdown-service.js
Labels: frontend

#255 Possibiltà di modificare il nome utente
  src/frontend/components/avatar.js
  src/frontend/components/dialog.js
  src/frontend/components/input-search.js
  src/frontend/components/input-with-icon.js
  src/frontend/components/modal.js
  src/frontend/components/popover.js
  src/frontend/cypress/e2e/chat-list-tests/open-chat.cy.js
  src/frontend/cypress/e2e/chat-list-tests/search-chats.cy.js
  src/frontend/cypress/e2e/editor.cy.js
  src/frontend/enums/icon-names.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/empty-chat.js
  src/frontend/pages/chat/header/chat-header.js
  src/frontend/pages/chat/header/profile-settings.js
  src/frontend/pages/chat/message/empty-messages.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/search-chats.js
  src/frontend/services/users-service.js
Labels: frontend

#256 Rimossi componenti inutilizzati
  src/frontend/components/formatting-button.js
  src/frontend/components/forward-list.js
  src/frontend/pages/chat/input/editor/editor-formatting-buttons.js
Labels: frontend

#257 Fe/query selector inutilizzati
  src/frontend/components/input-field.js
  src/frontend/pages/chat/input/input-controls.js
Labels: frontend

#258 rimosso css inutile segnalato su Teams
  src/frontend/components/input-field.js
  src/frontend/components/input-with-icon.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/input/input-controls.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/pages/chat/sidebar/search-chats.js
Labels: frontend

#259 Fe/sistemazione catene ref
  src/frontend/components/dialog.js
  src/frontend/components/input-search.js
  src/frontend/components/input-with-icon.js
  src/frontend/components/modal.js
  src/frontend/components/popover.js
  src/frontend/pages/app.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/message-menu-popover.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/search-chats.js
  src/frontend/pages/chat/sidebar/sidebar.js
Labels: frontend

#266 UsersService and UserDto
  src/frontend/components/avatar.js
  src/frontend/components/modal.js
  src/frontend/models/user-dto.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/header/chat-header.js
  src/frontend/pages/chat/header/profile-settings.js
  src/frontend/pages/chat/message/message-content.js
  src/frontend/pages/chat/message/message-options.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/pages/chat/sidebar/sidebar.js
  src/frontend/services/cookie-service.js
  src/frontend/services/users-service.js
Labels: frontend

#268 Refactoring degli altri service con i corrispondenti dto
  src/frontend/models/conversation-dto.js
  src/frontend/models/cookie-dto.js
  src/frontend/models/message-dto.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/message-menu-popover.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/services/conversations-service.js
  src/frontend/services/cookie-service.js
  src/frontend/services/messages-service.js
  src/frontend/services/open-chats-service.js
Labels: frontend

#270 Ternary operators removal
  src/frontend/components/input-field.js
  src/frontend/components/input-password.js
  src/frontend/pages/app.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/header/chat-header.js
  src/frontend/pages/chat/message/message-content.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
Labels: frontend

#275 Fe/axios http wrapper
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/header/chat-header.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/services/conversations-service.js
  src/frontend/services/http-service.js
  src/frontend/services/login-service.js
  src/frontend/services/messages-service.js
  src/frontend/services/users-service.js
Labels: frontend

#278 Fe/descriptive names
  src/frontend/components/avatar.js
  src/frontend/components/dialog.js
  src/frontend/components/input-field.js
  src/frontend/components/input-password.js
  src/frontend/components/input-search.js
  src/frontend/components/input-with-icon.js
  src/frontend/components/modal.js
  src/frontend/components/popover.js
  src/frontend/components/snackbar.js
  src/frontend/cypress/e2e/chat-list-tests/chat-list-exists.cy.js
  src/frontend/cypress/e2e/chat-list-tests/open-chat.cy.js
  src/frontend/cypress/e2e/chat-list-tests/search-chats.cy.js
  src/frontend/cypress/e2e/editor.cy.js
  src/frontend/cypress/e2e/header.cy.js
  src/frontend/cypress/e2e/messages.cy.js
  src/frontend/cypress/support/commands.js
  src/frontend/pages/app.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/header/chat-header.js
  src/frontend/pages/chat/header/profile-settings.js
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/input/emoji-picker.js
  src/frontend/pages/chat/input/input-controls.js
  src/frontend/pages/chat/input/insertion-bar.js
  src/frontend/pages/chat/message/message-button-option.js
  src/frontend/pages/chat/message/message-menu-popover.js
  src/frontend/pages/chat/message/message-options.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/message/messages-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/pages/chat/sidebar/search-chats.js
  src/frontend/pages/chat/sidebar/sidebar.js
  src/frontend/pages/login/login.js
Labels: frontend

#279 Username as null or empty description fallback
  src/main/java/com/cgm/infolab/db/repository/RowMappers.java
  src/test/java/com/cgm/infolab/LastDownloadDateUpdateTests.java
  src/test/java/com/cgm/infolab/RoomAndMessagesVisibilityTests.java
  src/test/java/com/cgm/infolab/RoomRepositoryTests.java
  src/test/java/com/cgm/infolab/TestDbHelper.java
  src/test/java/com/cgm/infolab/UserRepositoryTests.java
Labels: bug, backend

#282 Be/visibility roomtype users
  src/main/java/com/cgm/infolab/RunAfterStartup.java
  src/main/java/com/cgm/infolab/controller/FromEntitiesToDtosMapper.java
  src/main/java/com/cgm/infolab/db/model/RoomEntity.java
  src/main/java/com/cgm/infolab/db/model/RoomTypeEnum.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/db/repository/RowMappers.java
  src/main/java/com/cgm/infolab/model/RoomDto.java
  src/main/java/com/cgm/infolab/service/RoomService.java
  src/test/java/com/cgm/infolab/RoomAndMessagesVisibilityTests.java
  src/test/java/com/cgm/infolab/RoomRepositoryTests.java
Labels: backend

#280 Fixed bug of room general being in nuove conversazioni when empty
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: bug, frontend

#281 Fe/fix editor newline
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/input/input-controls.js
Labels: bug, frontend

#286 Fixed tooltip text in input search not apearing
  src/frontend/components/input-search.js
  src/frontend/components/tooltip.js
Labels: bug, frontend

#283 Be/users pagination
  src/main/java/com/cgm/infolab/controller/UserApiController.java
  src/main/java/com/cgm/infolab/controller/api/ApiConstants.java
  src/main/java/com/cgm/infolab/controller/api/ApiHelper.java
  src/main/java/com/cgm/infolab/controller/api/RoomApiController.java
  src/main/java/com/cgm/infolab/controller/api/UserApiController.java
  src/main/java/com/cgm/infolab/db/model/CursorEnum.java
  src/main/java/com/cgm/infolab/db/repository/UserRepository.java
  src/main/java/com/cgm/infolab/service/UserService.java
  src/test/java/com/cgm/infolab/LastDownloadDateUpdateTests.java
  src/test/java/com/cgm/infolab/RoomAndMessagesVisibilityTests.java
  src/test/java/com/cgm/infolab/RoomRepositoryTests.java
  src/test/java/com/cgm/infolab/SecurityTests.java
  src/test/java/com/cgm/infolab/UserPaginatedApiTests.java
  src/test/java/com/cgm/infolab/UserRepositoryTests.java
  src/test/java/com/cgm/infolab/helper/TestApiHelper.java
  src/test/java/com/cgm/infolab/helper/TestDbHelper.java
Labels: backend

#284 Be/messages pagination
  src/main/java/com/cgm/infolab/controller/api/ChatApiMessagesController.java
  src/main/java/com/cgm/infolab/db/repository/ChatMessageRepository.java
  src/main/java/com/cgm/infolab/db/repository/RowMappers.java
  src/main/java/com/cgm/infolab/service/ChatService.java
  src/test/java/com/cgm/infolab/InfolabApplicationTests.java
  src/test/java/com/cgm/infolab/MessagesPaginatedApiTests.java
Labels: backend

#288 Be/last read update post
  src/main/java/com/cgm/infolab/controller/api/ChatApiMessagesController.java
  src/main/java/com/cgm/infolab/controller/api/CommandsApiController.java
  src/main/java/com/cgm/infolab/db/repository/DownloadDateRepository.java
  src/main/java/com/cgm/infolab/model/IdDto.java
  src/main/java/com/cgm/infolab/service/ChatService.java
  src/test/java/com/cgm/infolab/LastDownloadedDatesForRoomsTests.java
  src/test/java/com/cgm/infolab/LastReadDateApiTests.java
  src/test/java/com/cgm/infolab/LastReadDateTests.java
  src/test/java/com/cgm/infolab/MessagesPaginatedApiTests.java
  src/test/java/com/cgm/infolab/UserPaginatedApiTests.java
  src/test/java/com/cgm/infolab/helper/TestApiHelper.java
Labels: backend

#289 Be/delete messages api
  src/main/java/com/cgm/infolab/RunAfterStartup.java
  src/main/java/com/cgm/infolab/controller/ChatController.java
  src/main/java/com/cgm/infolab/controller/FromEntitiesToDtosMapper.java
  src/main/java/com/cgm/infolab/controller/api/ChatApiMessagesController.java
  src/main/java/com/cgm/infolab/controller/api/CommandsApiController.java
  src/main/java/com/cgm/infolab/controller/api/RoomApiController.java
  src/main/java/com/cgm/infolab/controller/api/UserApiController.java
  src/main/java/com/cgm/infolab/db/model/ChatMessageEntity.java
  src/main/java/com/cgm/infolab/db/model/RoomEntity.java
  src/main/java/com/cgm/infolab/db/model/RoomName.java
  src/main/java/com/cgm/infolab/db/model/UserEntity.java
  src/main/java/com/cgm/infolab/db/model/enums/CursorEnum.java
  src/main/java/com/cgm/infolab/db/model/enums/StatusEnum.java
  src/main/java/com/cgm/infolab/db/model/enums/Username.java
  src/main/java/com/cgm/infolab/db/model/enums/VisibilityEnum.java
  src/main/java/com/cgm/infolab/db/repository/ChatMessageRepository.java
  src/main/java/com/cgm/infolab/db/repository/DownloadDateRepository.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/db/repository/RowMappers.java
  src/main/java/com/cgm/infolab/db/repository/UserRepository.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/QueryHelper.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/QueryResult.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/UserQueryHelper.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/UserQueryResult.java
  src/main/java/com/cgm/infolab/model/ChatMessageDto.java
  src/main/java/com/cgm/infolab/model/LastMessageDto.java
  src/main/java/com/cgm/infolab/service/ChatService.java
  src/main/java/com/cgm/infolab/service/RoomService.java
  src/main/java/com/cgm/infolab/service/UserService.java
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/com/cgm/infolab/InfolabApplicationTests.java
  src/test/java/com/cgm/infolab/LastDownloadDateUpdateTests.java
  src/test/java/com/cgm/infolab/LastDownloadedDatesForRoomsTests.java
  src/test/java/com/cgm/infolab/LastReadDateApiTests.java
  src/test/java/com/cgm/infolab/LastReadDateTests.java
  src/test/java/com/cgm/infolab/MessageDeletionApiTests.java
  src/test/java/com/cgm/infolab/MessageDeletionTests.java
  src/test/java/com/cgm/infolab/MessagesPaginatedApiTests.java
  src/test/java/com/cgm/infolab/QueryHelperTests.java
  src/test/java/com/cgm/infolab/RoomAndMessagesVisibilityTests.java
  src/test/java/com/cgm/infolab/RoomNameTests.java
  src/test/java/com/cgm/infolab/RoomRepositoryTests.java
  src/test/java/com/cgm/infolab/UserPaginatedApiTests.java
  src/test/java/com/cgm/infolab/UserRepositoryTests.java
  src/test/java/com/cgm/infolab/helper/TestDbHelper.java
Labels: backend

#294 Fixed breaking bug
  src/main/java/com/cgm/infolab/db/repository/RowMappers.java
Labels: bug, backend

#296 aggiornamento messaggi non letti live
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: frontend

#310 Be/max min page size
  pom.xml
  src/main/java/com/cgm/infolab/controller/GlobalExceptionHandler.java
  src/main/java/com/cgm/infolab/controller/api/ChatApiMessagesController.java
  src/main/java/com/cgm/infolab/controller/api/RoomApiController.java
  src/main/java/com/cgm/infolab/controller/api/UserApiController.java
  src/test/java/com/cgm/infolab/MessagesPaginatedApiTests.java
  src/test/java/com/cgm/infolab/UserPaginatedApiTests.java
Labels: backend
