Repository Studiofarma/Infolab, pull requests merged in 2023-06, with the labels that each got.

#112 Fe/restyle editor
  src/frontend/components/button-icon.js
  src/frontend/components/button-text.js
  src/frontend/components/forward-list.js
  src/frontend/enums/icon-names.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/input/input-controls.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/main/java/com/cgm/infolab/RunAfterStartup.java
  src/main/java/com/cgm/infolab/SecurityConfiguration.java
Labels: frontend

#109 Last download dates
  .configurations/InfolabApplication - inmemory.run.xml
  .configurations/InfolabApplication - with db.run.xml
  src/main/java/com/cgm/infolab/RunAfterStartup.java
  src/main/java/com/cgm/infolab/controller/ChatApiMessagesController.java
  src/main/java/com/cgm/infolab/controller/UserApiController.java
  src/main/java/com/cgm/infolab/db/model/ChatMessageEntity.java
  src/main/java/com/cgm/infolab/db/model/DownloadDateEntity.java
  src/main/java/com/cgm/infolab/db/model/RoomEntity.java
  src/main/java/com/cgm/infolab/db/model/RoomName.java
  src/main/java/com/cgm/infolab/db/model/UserEntity.java
  src/main/java/com/cgm/infolab/db/model/Username.java
  src/main/java/com/cgm/infolab/db/repository/ChatMessageRepository.java
  src/main/java/com/cgm/infolab/db/repository/DownloadDateRepository.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/db/repository/UserRepository.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/QueryHelper.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/QueryResult.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/UserQueryHelper.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/UserQueryResult.java
  src/main/java/com/cgm/infolab/model/RoomDto.java
  src/main/java/com/cgm/infolab/service/ChatService.java
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/com/cgm/infolab/LastDownloadDateUpdateTests.java
  src/test/java/com/cgm/infolab/QueryHelperTests.java
  src/test/java/com/cgm/infolab/RoomAndMessagesVisibilityTests.java
Labels: backend

#110 Fe/refactor messages
  src/frontend/components/forward-list.js
  src/frontend/components/message.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/input/editor/editor.js
Labels: frontend

#142 Be/descriptive roomname
  src/main/java/com/cgm/infolab/RunAfterStartup.java
  src/main/java/com/cgm/infolab/controller/RoomApiController.java
  src/main/java/com/cgm/infolab/db/model/ChatMessageEntity.java
  src/main/java/com/cgm/infolab/db/model/RoomEntity.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/model/RoomDto.java
  src/main/java/com/cgm/infolab/service/RoomService.java
  src/main/resources/db/changelog/db.changelog-master.xml
  src/test/java/com/cgm/infolab/RoomAndMessagesVisibilityTests.java
  src/test/java/com/cgm/infolab/RoomRepositoryTests.java
Labels: backend

#117 Be/refactoring chatservice
  src/main/java/com/cgm/infolab/controller/ChatApiMessagesController.java
  src/main/java/com/cgm/infolab/controller/ChatController.java
  src/main/java/com/cgm/infolab/controller/FromEntitiesToDtosMapper.java
  src/main/java/com/cgm/infolab/controller/RoomApiController.java
  src/main/java/com/cgm/infolab/controller/UserApiController.java
  src/main/java/com/cgm/infolab/db/repository/ChatMessageRepository.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/db/repository/RowMappers.java
  src/main/java/com/cgm/infolab/db/repository/UserRepository.java
  src/main/java/com/cgm/infolab/service/ChatService.java
  src/main/java/com/cgm/infolab/service/RoomService.java
  src/test/java/com/cgm/infolab/LastDownloadDateUpdateTests.java
  src/test/java/com/cgm/infolab/RoomAndMessagesVisibilityTests.java
  src/test/java/com/cgm/infolab/RoomRepositoryTests.java
Labels: backend

#118 Fe/forward list fix
  src/frontend/components/message.js
  src/frontend/pages/chat/input/editor/editor-formatting-buttons.js
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/services/markdown-service.js
  src/frontend/services/markdown-services.js
Labels: frontend

#144 Fe/estrazione componente ricerca
  src/frontend/assets/images/input-search-delete.png
  src/frontend/components/forward-list.js
  src/frontend/components/input-field.js
  src/frontend/components/input-ricerca.js
  src/frontend/pages/chat/sidebar/search-chats.js
Labels: frontend

#163 Refactoring conversation list
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: frontend

#158 Refactoring chat
  src/frontend/components/button-icon.js
  src/frontend/components/button-text.js
  src/frontend/components/forward-list.js
  src/frontend/components/message-menu-option.js
  src/frontend/components/message-settings.js
  src/frontend/components/message.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/input/editor/editor.js
Labels: frontend

#169 Cambiati i colori degli avatar e aggiunto avatar nell'header per entrambi gli utenti
  src/frontend/pages/chat/header/chat-header.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: frontend

#168 tolto info utente per chat private
  src/frontend/components/message.js
  src/frontend/pages/chat/chat.js
Labels: frontend

#173 i link si aprono in un altra scheda
  src/frontend/index.html
Labels: frontend

#164 Restyling editor emoji e locale in italiano
  src/frontend/components/message.js
  src/frontend/pages/chat/input/emoji-picker.js
  src/frontend/pages/chat/input/input-controls.js
Labels: frontend

#179 fix avatar vuoto quando non c'è una chat selezionata
  src/frontend/pages/chat/header/chat-header.js
Labels: frontend

#165 Fe/componente unico ricerca
  src/frontend/components/forward-list.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/pages/chat/sidebar/sidebar.js
Labels: frontend

#181 fix opzione scrivi in privato in chat private
  src/frontend/components/message-settings.js
  src/frontend/components/message.js
Labels: bug, frontend

#176 Be/id message dto
  src/main/java/com/cgm/infolab/controller/ChatController.java
  src/main/java/com/cgm/infolab/controller/FromEntitiesToDtosMapper.java
  src/main/java/com/cgm/infolab/db/repository/ChatMessageRepository.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/db/repository/UserRepository.java
  src/main/java/com/cgm/infolab/model/ChatMessageDto.java
  src/main/java/com/cgm/infolab/service/ChatService.java
  src/main/java/com/cgm/infolab/service/RoomService.java
  src/test/java/com/cgm/infolab/InfolabApplicationTests.java
  src/test/java/com/cgm/infolab/LastDownloadDateUpdateTests.java
  src/test/java/com/cgm/infolab/RoomAndMessagesVisibilityTests.java
  src/test/java/com/cgm/infolab/RoomRepositoryTests.java
Labels: backend

#156 Be/unread messages number
  src/main/java/com/cgm/infolab/RunAfterStartup.java
  src/main/java/com/cgm/infolab/SecurityConfiguration.java
  src/main/java/com/cgm/infolab/controller/FromEntitiesToDtosMapper.java
  src/main/java/com/cgm/infolab/db/model/RoomEntity.java
  src/main/java/com/cgm/infolab/db/repository/ChatMessageRepository.java
  src/main/java/com/cgm/infolab/db/repository/DownloadDateRepository.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/main/java/com/cgm/infolab/db/repository/RowMappers.java
  src/main/java/com/cgm/infolab/db/repository/UserRepository.java
  src/main/java/com/cgm/infolab/db/repository/queryhelper/UserQueryResult.java
  src/main/java/com/cgm/infolab/model/RoomDto.java
  src/test/java/com/cgm/infolab/RoomRepositoryTests.java
Labels: backend

#175 Rework editor
  src/frontend/components/message.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/input/editor/editor-formatting-buttons.js
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/input/emoji-picker.js
  src/frontend/pages/chat/input/input-controls.js
  src/frontend/pages/chat/input/insertion-bar.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/services/markdown-service.js
Labels: frontend

#187 navigazione con frecce del risultato della ricerca
  src/frontend/components/avatar.js
  src/frontend/components/forward-list.js
  src/frontend/components/input-ricerca.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/search-chats.js
  src/frontend/pages/chat/sidebar/sidebar.js
Labels: frontend

#193 User description returned as roomname instead of username for private rooms
  src/main/java/com/cgm/infolab/RunAfterStartup.java
  src/main/java/com/cgm/infolab/db/repository/RoomRepository.java
  src/test/java/com/cgm/infolab/RoomRepositoryTests.java
Labels: bug, backend

#191 Restyling generale chat
  src/frontend/components/avatar.js
  src/frontend/components/button-icon.js
  src/frontend/components/forward-list.js
  src/frontend/components/input-field.js
  src/frontend/components/input-search.js
  src/frontend/components/message.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/header/chat-header.js
  src/frontend/pages/chat/input/editor/editor-formatting-buttons.js
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/input/input-controls.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/pages/chat/sidebar/search-chats.js
  src/frontend/pages/chat/sidebar/sidebar.js
Labels: frontend

#174 aggiunto campo description per manipolare il nome descrittivo della room
  src/frontend/components/dialog.js
  src/frontend/components/message-menu-option.js
  src/frontend/components/message-settings.js
  src/frontend/components/modal.js
  src/frontend/components/popover.js
  src/frontend/models/conversation-dto.js
  src/frontend/pages/app.js
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/header/chat-header.js
  src/frontend/pages/chat/input/editor/editor.js
  src/frontend/pages/chat/message/message-button-option.js
  src/frontend/pages/chat/message/message-options.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
  src/frontend/pages/chat/sidebar/conversation/conversation.js
  src/frontend/pages/chat/sidebar/search-chats.js
  src/frontend/pages/chat/sidebar/sidebar.js
  src/frontend/services/cookie-service.js
Labels: frontend

#202 Fixed arrows bug
  src/frontend/pages/chat/input/editor/editor.js
Labels: bug, frontend

#204 reso fisso il campo di filtraggio della lista di inoltro
  src/frontend/components/dialog.js
  src/frontend/components/modal.js
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: bug, frontend

#207 Fixato il bug della selezione
  src/frontend/pages/chat/sidebar/conversation/conversation-list.js
Labels: frontend

#206 creati test per la sidebar
  src/frontend/cypress/e2e/chat-list-tests/chat-list-exists.cy.js
  src/frontend/cypress/e2e/chat-list-tests/open-chat.cy.js
  src/frontend/cypress/e2e/chat-list-tests/search-chats.cy.js
  src/frontend/cypress/support/commands.js
Labels: frontend

#212 Test per l'header
  src/frontend/cypress/e2e/header.cy.js
  src/frontend/pages/chat/chat.js
Labels: frontend

#217 Fix scrivi in privato che non funzionava
  src/frontend/pages/chat/chat.js
Labels: bug, frontend

#213 Refactoring. Extracted components.
  src/frontend/pages/chat/chat.js
  src/frontend/pages/chat/message/message-content.js
  src/frontend/pages/chat/message/message-menu-popover.js
  src/frontend/pages/chat/message/message.js
  src/frontend/pages/chat/messages-list.js
Labels: frontend

#220 update to lit 3.0.0-pre.0
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend
